.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-logo{
  width:100px;
}

.image-big-banner{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.collection-list{
  text-align: center;
}

.collection-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.collection-item{
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border:0px solid #d0d0d0;
  margin:5px;
  box-shadow:#d0d0d0 5px 5px 5px;
  background-color: #fafafa;
  color: black;
  text-align: center;
  display:inline-block;
}

.whighlight{
  margin:40px 0px 20px 0px;
  text-align: center;
  border:1px solid black;
}

.item-weekly{
  width:400px;
  display: inline-block;
  margin: 5px;
}

.img-weekly{
  width: 300px;
}

.weekly-desc{
  text-align: justify;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
